<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alex.kudago">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBg7Y15p2Fj00RmPSTFEqZaNHgbkkXF6Gw" />


        <activity
            android:name=".presentations.ui.activities.EventsActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentations.ui.activities.CitiesActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".presentations.ui.activities.DetailEventActivity"
            android:configChanges="orientation"></activity>
    </application>

</manifest>